APPSEC_INVENTORY_SERVICE_GITHUB_CLIENT_ID=
APPSEC_INVENTORY_SERVICE_GITHUB_CLIENT_SECRET=
APPSEC_INVENTORY_SERVICE_GOOGLE_CLIENT_ID=
APPSEC_INVENTORY_SERVICE_GOOGLE_CLIENT_SECRET=
APPSEC_INVENTORY_SERVICE_TEST_LOGIN_ENABLED=true
APPSEC_INVENTORY_SERVICE_TEST_USER_ID=test-user
APPSEC_INVENTORY_SERVICE_TEST_USER_LOGIN=test.user@local
APPSEC_INVENTORY_SERVICE_TEST_USER_NAME=Test User
APPSEC_INVENTORY_SERVICE_SECRET_KEY=
APPSEC_INVENTORY_POSTGRES_PASSWORD=postgres
